# Hamoye 2020 Data Science Internship 
## Machine Learning: REGRESSION - Predicting Energy Efficiency of Buildings
### Stage B - (Graded Quiz) 
#### Student: Pascal Chisom Okechukwu 
##### Date: August 4, 2020

In [1]:
# We will start off this notebook by importing the basic, necessary libraries 

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split

In [3]:
# Setting up our data and looking at the first few rows

data = pd.read_csv('energydata_complete.csv')
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### Running a Simple Linear Regression Model to define the relationship between the 'temperature in the living room in Celsius' (x = T2) and the 'temperature outside the building (y = T6)'

In [5]:
# The Simple Linear Regression 

x_simple = pd.DataFrame(data['T2'])
y_simple = data['T6']

x_train_simple, x_test_simple, y_train_simple, y_test_simple = train_test_split(x_simple, y_simple, test_size = 0.3, random_state = 42)

simp_linear_mod = LinearRegression()
simp_linear_mod.fit(x_train_simple, y_train_simple)

simp_linear_pred = simp_linear_mod.predict(x_test_simple)

In [7]:
# Now calculating the R-Squared value for the model 

from sklearn.metrics import r2_score 

print('The R-Squared value for this modoel is ', round(r2_score(y_test_simple, simp_linear_pred), 2))

The R-Squared value for this modoel is  0.64

### Running the Multi-Variate Linear Regression where the target variable is 'Appliances'

In [8]:
# To start off, we will drop the 'date' and 'lights' columns before normalizing the dataset 

data = data.drop(columns = ['date', 'lights'])
data.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [10]:
# Inspecting our data for cleanliness 

print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 27 columns):
Appliances     19735 non-null int64
T1             19735 non-null float64
RH_1           19735 non-null float64
T2             19735 non-null float64
RH_2           19735 non-null float64
T3             19735 non-null float64
RH_3           19735 non-null float64
T4             19735 non-null float64
RH_4           19735 non-null float64
T5             19735 non-null float64
RH_5           19735 non-null float64
T6             19735 non-null float64
RH_6           19735 non-null float64
T7             19735 non-null float64
RH_7           19735 non-null float64
T8             19735 non-null float64
RH_8           19735 non-null float64
T9             19735 non-null float64
RH_9           19735 non-null float64
T_out          19735 non-null float64
Press_mm_hg    19735 non-null float64
RH_out         19735 non-null float64
Windspeed      19735 non-null float64
Visibility     19735 non-null float64
Tdewpoint      19735 non-null float64
rv1            19735 non-null float64
rv2            19735 non-null float64
dtypes: float64(26), int64(1)
memory usage: 4.1 MB
None

In [11]:
# Our dataset is very clean, with no missing values. Therefore we move on to normalizing it, using the MinMaxScaler from sklearn 

from sklearn.preprocessing import MinMaxScaler 
scaler = MinMaxScaler()
norm_data = pd.DataFrame(scaler.fit_transform(data), columns = data.columns)

In [12]:
# Inspecting our dataset to confirm that normalization worked 

norm_data.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [14]:
# Now we define our features data and the target variable. Remember the target variable from the problem is 'Appliances'
# In doing this, we will drop the 'Appliances' column from the rest of the dataset (the latter which will then be our features data)
# while the former becomes our target variable

features_data = norm_data.drop(columns = ['Appliances'])
appliance_target = norm_data['Appliances']

In [15]:
# At this stage, we will split our data into the training and testing factions 
# The train_test_split library has been imported already 

x_train, x_test, y_train, y_test = train_test_split(features_data, appliance_target, test_size = 0.3, random_state = 42)

In [17]:
# Inspecting our Features data training and test set

print(x_train.info(), '/n', x_test.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13814 entries, 9129 to 15795
Data columns (total 26 columns):
T1             13814 non-null float64
RH_1           13814 non-null float64
T2             13814 non-null float64
RH_2           13814 non-null float64
T3             13814 non-null float64
RH_3           13814 non-null float64
T4             13814 non-null float64
RH_4           13814 non-null float64
T5             13814 non-null float64
RH_5           13814 non-null float64
T6             13814 non-null float64
RH_6           13814 non-null float64
T7             13814 non-null float64
RH_7           13814 non-null float64
T8             13814 non-null float64
RH_8           13814 non-null float64
T9             13814 non-null float64
RH_9           13814 non-null float64
T_out          13814 non-null float64
Press_mm_hg    13814 non-null float64
RH_out         13814 non-null float64
Windspeed      13814 non-null float64
Visibility     13814 non-null float64
Tdewpoint      13814 non-null float64
rv1            13814 non-null float64
rv2            13814 non-null float64
dtypes: float64(26)
memory usage: 2.8 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5921 entries, 8980 to 11863
Data columns (total 26 columns):
T1             5921 non-null float64
RH_1           5921 non-null float64
T2             5921 non-null float64
RH_2           5921 non-null float64
T3             5921 non-null float64
RH_3           5921 non-null float64
T4             5921 non-null float64
RH_4           5921 non-null float64
T5             5921 non-null float64
RH_5           5921 non-null float64
T6             5921 non-null float64
RH_6           5921 non-null float64
T7             5921 non-null float64
RH_7           5921 non-null float64
T8             5921 non-null float64
RH_8           5921 non-null float64
T9             5921 non-null float64
RH_9           5921 non-null float64
T_out          5921 non-null float64
Press_mm_hg    5921 non-null float64
RH_out         5921 non-null float64
Windspeed      5921 non-null float64
Visibility     5921 non-null float64
Tdewpoint      5921 non-null float64
rv1            5921 non-null float64
rv2            5921 non-null float64
dtypes: float64(26)
memory usage: 1.2 MB
None /n None

In [18]:
# Inspecting our Target Variable training and testing set 

print(y_train, '/n', y_test)

9129     0.037383
2453     0.018692
9152     0.028037
12694    0.102804
16952    0.037383
           ...
11284    0.046729
11964    0.102804
5390     0.018692
860      0.065421
15795    0.112150
Name: Appliances, Length: 13814, dtype: float64 /n 8980     0.028037
2754     0.074766
9132     0.037383
14359    0.037383
8875     0.056075
           ...
831      0.224299
10993    0.046729
11761    0.037383
12364    0.093458
11863    0.037383
Name: Appliances, Length: 5921, dtype: float64

In [19]:
# Now running the Multi-Linear Regression

linear_model = LinearRegression()

# fitting the model to the training data 
linear_model.fit(x_train, y_train)

# obtaining the predictions 
predict_values = linear_model.predict(x_test)

### Model Evaluation

In [20]:
# Calculating the Mean Absolute Error 

from sklearn.metrics import mean_absolute_error
mae = round(mean_absolute_error(y_test, predict_values), 2)
mae

0.05

In [21]:
# Calculating the residual sum of squares 

rss = round(np.sum(np.square(y_test - predict_values)), 2)
rss

45.35

In [22]:
# Calculating the root mean square error 

from sklearn.metrics import mean_squared_error 

rmse = round(np.sqrt(mean_squared_error(y_test, predict_values)), 3)
rmse

0.088

In [23]:
# Calculating the R-Squared value, otherwise known as the Coefficient of Determination

from sklearn.metrics import r2_score 
rsquared = round(r2_score(y_test, predict_values), 2)
rsquared

0.15

In [24]:
# Estimating the Parameters for our Linear Regression Model 

feature_weights = pd.DataFrame(linear_model.coef_, index = features_data.columns, columns = ['Coefficient Value'])
feature_weights.sort_values('Coefficient Value')

             Coefficient Value
RH_2                 -0.456698
T_out                -0.321860
T2                   -0.236178
T9                   -0.189941
RH_8                 -0.157595
RH_out               -0.077671
RH_7                 -0.044614
RH_9                 -0.039800
T5                   -0.015657
T1                   -0.003281
rv1                   0.000770
rv2                   0.000770
Press_mm_hg           0.006839
T7                    0.010319
Visibility            0.012307
RH_5                  0.016006
RH_4                  0.026386
T4                    0.028981
Windspeed             0.029183
RH_6                  0.038049
RH_3                  0.096048
T8                    0.101995
Tdewpoint             0.117758
T6                    0.236425
T3                    0.290627
RH_1                  0.553547

In [26]:
# Feature selection and Ridge regression 

from sklearn.linear_model import Ridge 
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train, y_train) 

ridge_predict = ridge_reg.predict(x_test)

In [27]:
# new Model evaluation 

print('New Test rmse is ', round(np.sqrt(mean_squared_error(y_test, ridge_predict)), 3))

New Test rmse is  0.088

In [28]:
# Feature selection and Lasso Regression 

from sklearn.linear_model import Lasso 
lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(x_train, y_train)
lasso_predict = lasso_reg.predict(x_test)
new_train_lasso = lasso_reg.predict(x_train)

In [30]:
# Parameters evaluation for the Lasso model 

coeff = pd.DataFrame(lasso_reg.coef_, index = features_data.columns, columns = ['Value'])
coeff.sort_values('Value')

                Value
RH_out      -0.049557
RH_8        -0.000110
T1           0.000000
Tdewpoint    0.000000
Visibility   0.000000
Press_mm_hg -0.000000
T_out        0.000000
RH_9        -0.000000
T9          -0.000000
T8           0.000000
RH_7        -0.000000
rv1         -0.000000
T7          -0.000000
T6           0.000000
RH_5         0.000000
T5          -0.000000
RH_4         0.000000
T4          -0.000000
RH_3         0.000000
T3           0.000000
RH_2        -0.000000
T2           0.000000
RH_6        -0.000000
rv2         -0.000000
Windspeed    0.002912
RH_1         0.017880

In [31]:
# new Model evaluation 

print('New Test rmse via Lasso reg. is ', round(np.sqrt(mean_squared_error(y_test, lasso_predict)), 3))

New Test rmse via Lasso reg. is  0.094